* {
  box-sizing: border-box;
}

body {
  padding: 24px;
}

button {
  outline: 0;
  cursor: pointer;
}

.app {
  max-width: 500px;
  margin: 0 auto;
}

.accordion__items {
  padding: 0;
  margin: 12px 0 0;
  list-style: none;
  border: 1px solid #CECFD0;
  border-radius: 5px;
}

.accordion__item {
  width: 100%;
  padding: 12px;
  cursor: pointer;
  user-select: none;
  
  & + & {
    border-top: 1px solid #CECFD0;
  }
}

.accordion__item__title {
  margin: 0;
  font-size: 16px;
}

.accordion__item__content {
  overflow: hidden;
  
  p {
    margin: 12px 0 12px;
  }
}

// Todo Styles
.todo {
  background: #b4da55;
  color: #6D8630;
  overflow: hidden;
  position: relative;
}

.todo__inner {
  padding: 12px 16px 12px 12px;
}

.todo__delete {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

input, button {
  padding: 8px 12px;
  border: 1px solid #6D8630;
}

button {
  background: none;
}

.measure-example {
  header,
  main {
    display: flex;
  }
}

.paragraphs {
  flex: 1;
}
.paragraphs-measurements {
  flex: 1;
}