{
  "presets": [
    ["env", { "modules": false, "loose": true }],
    "stage-2",
    "react"
  ],
  plugins: [
    ["transform-runtime", { "polyfill": false }]
  ],
  "env": {
    "cjs": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
