{
  "presets": [
    ["@babel/env", { "modules": false, "loose": true }],
    "@babel/stage-3",
    "@babel/react",
    "@babel/flow"
  ],
  "env": {
    "cjs": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
